<section class="heroSection">
    <!-- Navigation -->
    <nav>
        <article>
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/team">TEAM</a>
            <a href="/booking">BOOKING</a>
        </article>
        <img src="/image/Vector.png" alt="company logo">
        <article>
            <a href="/menu">MENU</a>
            <a href="/galerie">GALERIE</a>
            <a href="/events">EVENTS</a>
            <a href="/contact">CONTACT</a>
            <a href="/feedback">FEEDBACK</a>
        </article>
    </nav>
    <!-- Hero Area -->
    <article>
        <p>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
        <div>
            <p>RESTAURANT</p>
            <h1>HUNGRY PEOPLE</h1>
            <img src="/image/underline.png" alt="line">
            <a href="#">BOOK TABLE</a>
            <a href="#">EXPLORE</a>
            <img src="/image/down.png" alt="arrow down">
        </div>
        <div>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>
        
        

    </article>
</section>