<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hungry People</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <!-- Hero Header -->
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <!-- Main -->
    <main class="contactMain">
        <!-- Contact Intro -->
        <section class="menuText">
            <h2>Contact</h2>
            <img src="/image/underline.png" alt="underline">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor
                magna.</h3>
        </section> 
        <!-- Contact Form -->
        <form action="">
            <div>
                <input type="text" name="contactName" id="contactName" placeholder="Name">
                <input type="email" name="contactEmail" id="contactEmail" placeholder="Email">
                <input type="number" name="contactPhone" id="contactPhone" placeholder="Phone">
            </div>
            <div>
                <input type="text" name="contactMessage" id="contactMessage" placeholder="Message">
            </div>
            <div>
                <p> 5th London Boulevard, U.K.  +40 729 131 637/+40 726 458 782  office@mindblister.com</p>
                <input type="submit" value="SEND MESSAGE">
            </div>
        </form>
        <img src="/image/locationMap.png" alt="map">
    </main>

    <!-- Footer -->
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>

</body>

</html>