<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hungry People</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <!-- Hero Header -->
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <!-- Main -->
    <main class="eventsMain">
        <!-- Galerie Intro -->
        <p>SPECIALTIES</p>
        <section>
            <img src="/image/Event1.png" alt="event image">
        </section>
        <section>
            <img src="/image/Event2.png" alt="event image">
        </section>
        <p>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
    </main>

    <!-- Footer -->
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>

</body>

</html>