<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hungry People</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <!-- Hero Header -->
    <header>
        <%- include("../partials/header.ejs") %>
    </header>

    <!-- Main -->
    <main class="teamMain">
        <!-- Team Intro -->
        <p>OUR TEAM</p>
        <section>
            <img src="/image/teamImg.png" alt="fireplace">
        </section>
        <section>
            <h2>MASTER CHEF</h2>
            <img src="/image/underline.png" alt="underline">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor
                magna.</h3>
            <p>Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed
                dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris
                tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
        </section> 
    </main>

    <!-- Footer -->
    <footer>
        <%- include("../partials/footer.ejs") %>
    </footer>

</body>

</html>